<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/ideas/new" class="btn">Bring up a new not-so-dumb idea</a>
  </div>
  <h3>Your last not-so-dumb ideas:</h3>
  <ul>
    {{#each ideas}}
    <li>
      <div class="idea-info">
        <span class="label">{{this.title}}</span>
        <span class="timestamp">{{this.createdAt}}</span>
        <span class="description">{{this.description}}</span>
      </div>
      <span class="actions">
        <a href="/ideas/edit/{{this.id}}" class="btn">Edit</a>
        <form action="/ideas/delete" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="submit" value="Delete" class="btn">
        </form>
      </span>
    </li>
    {{/each}}
  </ul>
  {{#if userHasNoActiveIdeas}}
    <p>You still haven't suggested none. Do it <a href="/ideas/new">here</a>.</p>
  {{/if}}
</div>