<div class="home-header">
  {{#if search}}
    <h1>Ideas containing: "<span>{{search}}</span>".</h1>
    {{#if ideasAmount}}
      <p><span>{{ideasAmount}}</span> results.</p>
    {{/if}}
  {{else}}
    <h1>The world's biggest dump for the not-so-dumb ideas:</h1>
  {{/if}}
  <form action="/" method="GET">
    <input type="text" name="search" placeholder="Find something kinda specific">
    <input type="submit" class="btn" value="Search">
  </form>
  <div class="order-container">
    <span>Order by:</span>
    <form action="/" method="GET">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="order" value="new">
      <button type="submit"><i class="bi bi-arrow-up"></i></button>
    </form>
    <form action="/" method="GET">
      <input type="hidden" name="search" value="{{this.search}}">
      <input type="hidden" name="order" value="old">
      <button type="submit"><i class="bi bi-arrow-down"></i></button>
    </form>
    <a href="/">Clear</a>
  </div>
</div>
<div class="ideas-container">
  {{#each ideas}}
    <figure>
      <blockquote>
        "<a href="/ideas/show/{{this.id}}">{{this.title}}</a>"
      </blockquote>
      <figcaption>by <span>{{this.User.name}}</span>, suggesting <span class="idea-description">{{this.description}}</span></figcaption>
    </figure>
  {{/each}}
</div>